/* #################################################### */
/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, input, textarea, select {
    font: inherit; /* Inherit font styles */
}

/* #################################################### */
/* Root and Color Scheme */
:root {
    color-scheme: light dark;
}

@font-face {
    font-family: 'lucon';
    src: url('../fonts/lucon.ttf') format('truetype');
}

body {
    color: #b7cae5;
    color: light-dark(#505050, #b7cae5);

    background-color: #0b101e;
    background-color: light-dark(#fdfdfd, #0b101e);


    font-family: "lucon", "Lucida Console", "Lucida Sans Typewriter", "monaco", "Bitstream Vera Sans Mono", "Courier New", "monospace";
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
}


h1 {
    font-weight: bold;
    color: light-dark(black, #fdfdfd);
    font-size: 3em;
}

h2 {
    font-weight: bold;
    color: light-dark(black, #fdfdfd);
    font-size: 2em;
}

hr {
    border: none;
    border-bottom: solid 1px light-dark(#d4d4d4, #4d4d4d);
}

/* #################################################### */
/* Header Styles */

header {
    padding: 0px 14px;
}


.header-wrapper {
    display: flex;
    align-items: center;
    max-width: 745px;
    margin: 0 auto;
    width: 100%;
    padding: 14px 0;
    position: relative;
    border-bottom: solid 1px light-dark(#d4d4d4, #4d4d4d);
}

header .navbar ul {
    display: flex;
    justify-content: center; /* Centers the list items horizontally */
    list-style: none;
    position: static;
    padding: 0;
    gap: 30px; /* Optional: keeps spacing between items */
}

header .navbar a {
    font-size: 1.3em;
    text-align: center; /* Aligns text inside the link */
    padding: 0;
}



/* #################################################### */
/* Code Styling */
.codehilite {
    background: #1a1c21; /* Dark background for Atlantic Night */
    color: #cdd3de; /* Light text color */
    overflow-x: auto; /* Enables horizontal scrolling */
    padding: 1em; /* Add padding for readability */
    border-radius: 10px; /* Optional: Rounded corners */
    font-family: 'Fira Code', monospace; /* Monospaced font */
    line-height: 1.5;
    font-size: 1.7em;
}



/* #################################################### */
/* Responsive Styles */
@media (max-width: 700px) {

    .home-wrapper {
        text-align: center;
    }

    .header-wrapper {
        justify-content: center;
    }

    .codehilite {
        font-size: 1em;
    }
}

/* #################################################### */
/* Main Content Styles */
main {
    margin: 20px auto;
    font-size: 1em;
    padding: 0 14px;
}

.main-wrapper {
    max-width: 745px;
    margin: 0 auto;
}


/* #################################################### */
/* Home Wrapper Styles */
.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 34px;
}


.home-wrapper a {
    color: paleturquoise;
    color: light-dark(blue, turquoise);
}





/* #################################################### */
/* blog_list Wrapper Styles */
.blog-list-wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.blog-list-wrapper h2{
    color: light-dark(black, #fdfdfd);
}

.blog-list-wrapper p{
    margin: 5px 0;
}



/* #################################################### */
/* blog Wrapper Styles */
.blog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.blog-title h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: light-dark(black, #fdfdfd);
}

.blog-content a {
    color: paleturquoise;
    color: light-dark(blue, turquoise);
}

.blog-content img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.blog-content em {
    color: palegoldenrod;
    color: light-dark(rgb(218, 32, 178), goldenrod);
}

.blog-content hr {
    border: none;
    border-bottom: solid 1px light-dark(#d4d4d4, #4d4d4d);
}