{% extends 'base.html' %}

{% block title %} Drew Edgette - Blog{% endblock %}

{% block content %}
<div class="blog-list-wrapper">
{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <article>
                    <h2><a href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                    <p>{{ post.published_date|date:"F j, Y" }}</p>
                    <p>{{ post.reading_time }} min read</p>
                </article>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts available.</p>
{% endif %}
</div>
{% endblock %}
